body{
    font-family: Geneva;
}

.header, .user-input, .food-list, .food-result, 
.button-to-random, .display-result, .quote-div{
    display:flex;
    justify-content: center;
    font-weight: bold;
}

.user-input{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}

.food-input, .zip-code-input{
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50px;
    border-color: black;
    width: 500px;
}

.add-button{
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    border-color: black;
}

.food-list{
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items:center;
}

.random-button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
}

.delete-button{
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    display: block;
}

.food-result{
    display:block;
}

.quotes{
    margin: auto;
    width: 50%;
    text-align:center;
    width: 200px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(213, 138, 213);
    border-radius: 10px;
    margin-bottom: 70px;
}

.restaurant-list{
    margin-bottom: 100px;
    text-align: center;
    font-size: large;
}

.top{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: rgb(44, 255, 185);
}

.middle{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: rgb(19, 228, 255);
}

.bottom{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: rgb(189, 128, 255);
}
